
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin: 3rem;
}

h2{
    margin-bottom: 2rem;
    margin-right: 6rem;
}

.todo-list{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul li{
    margin-left: 2rem;
    padding-left: 1rem ;
}

ul{
    margin-bottom: 2rem;
}

li{
    margin-bottom: 1rem;
}

.action-bar{
    text-align: center;
    margin-right: 9rem;
}